<app-nav-bar></app-nav-bar>
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
    
          <div class="d-flex justify-content-between align-items-center">
            <ol>
                <li><a href="index.html">الرئيسية</a></li>
                <li>الإسعاف</li>
            </ol>
            <h2>الإسعاف</h2>
          </div>
    
        </div>
    </section>

    <!-- ====Call ambulance Section==== -->
    <section class="call col-lg-10 mt-3">
        <div class="container">
            <div class="section-title" data-aos="zoom-in">
                <h3>كيف تتواصل مع الاسعاف</h3>
                <p>يوضح هذا القسم طريقة التواصل الصحيحة مع الاسعاف من خلال مكالمة سريعة</p>
                <p>يتم التواصل الصحيح مع الاسعاف من خلال الرقم الصحيح لهم والموثق وهو 123 وعند الدخول  </p>
                <p>  في مكالمة مع الاسعاف قم بشرح الحالة التي تتعرض لها بشكل سريع واتبع الارشادات لحين وصول الاسعاف</p>
                <button class="btn btn-success mt-2">اطلب 123</button>
            </div>
        </div>
    </section>

    <section class="why-us">
        <div class="container">
            <div class="section-title" data-aos="zoom-in">
                <h3>كيف تتعامل <span>في حالة</span></h3>
                <p>كل قسم يوضح لك حالة وكيفية التعامل الصحيح في هذه الحالة</p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                      <span>3</span>
                      <h4> الإسعافات الأولية للحروق</h4>
                      <p>.تبريد الحرق للمساعدة في تهدئة الألم وذلك بوضع المنطقة المحترقة تحت الماء الجاري من الصنبور والمعتدل البرودة لمدة 10 إلى 15 دقيقة لتخفف الألم</p>
                      <p>إزالة الاكسسوارات (مثل: خواتم أو ساعات أو أحزمة ) إن وجدت أو إزالة أحذية أو أي ملابس برفق وبسرعة ، قبل أن تتضخم المنطقة</p>
                      <p>تغطية منطقة الحرق باستخدام ضمادة رطبة أو قطعة قماش نظيفة باردة، لتقليل خطر العدوى</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="fade-up" data-aos-delay="100">
                      <span>2</span>
                      <h4>اصابات الرأس</h4>
                      <p>حافظ على هدوء المصاب وطمأنته وساعده على الجلوس</p>
                      <p>استعمال كيس مجمد على منطقة الإصابة على سبيل المثال: كيس خضار مجمدة</p>
                      <p>تحقق من مستوى الوعي مثل: استجابة المصاب للصوت وذلك بطرح أسئلة بسيطة أو إعطائه​ إرشادات وغيرها</p>
                      <p>ملازمة المصاب للتأكد من عدم ظهور علامات مثل النزيف</p>
                      <p>عند ظهور أعراض على المصاب مثل التقيؤ أكثر من مرتين، أو النعاس أو اضطراب في الكلام والرؤية، فيجب طلب المساعدة من الهلال الأحمر فورًا</p>
                    </div>
                </div>

                <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                      <span>1</span>
                      <h4>حالات الغرق</h4>
                      <p>وضع الغريق على أرض مستوية مستلقيًا على ظهره، ويجب الحذر عند التعامل معه فقد يكون فاقدًا وعيه بسبب ارتطام رأسه بشيء</p>
                      <p>مناداة الغريق وهز كتفيه للتأكد من استجابته</p>
                      <p>ذا لم يستجب الغريق للنداء فيجب التحقق من تنفسه</p>
                      <p>إرسال شخص للاتصال بالهلال الأحمر (997)</p>
                      <p>إذا كان الغريق يتنفس: وضعه في وضع الإفاقة وتدفئته بالملابس أو البطانية وتغيير ثيابه المبللة وانتظار سيارة الإسعاف</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                      <span>6</span>
                      <h4>التشنجات</h4>
                      <p>لاحظ الوقت المستنفذ في النوبة</p>
                      <p>حماية المصاب بالنوبة وذلك بإزالة أي أجسام ضارة في المكان القريب منه وإبعاده عن مصادر الخطر مثل منطقة السلالم</p>
                      <p>ابعاد النظارات إذا كان المصاب يستخدمها</p>
                      <p>دعم رأس الشخص لمنعه من ضرب الأرض وذلك بوضع قطعة قماش أو جاكيت</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                      <span>5</span>
                      <h4>الاختناق</h4>
                      <p>الوقوف خلف الشخص المصاب</p>
                      <p>ثم نضع إحدى القدمين أمام الأخرى قليلاً لتحقيق التوازن</p>
                      <p>ولف الذراعين حول خصر الشخص المصاب</p>
                      <p>إمالة الشخص المصاب إلى الأمام قليلاً و عمل قبضة باليد الأُخرى ثم وضعها فوق منطقة السرة</p>
                      <p>مسك القبضة باليد الأُخرى ثم توجيه ضغطة بقوة على البطن بسرعة نحو الأعلى</p>
                      <p>القيام بمعدل 6 إِلى 10 ضغطات بطنية حتى يزول الجسم العالق</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="box" data-aos="fade-up">
                      <span>4</span>
                      <h4>حالات النزيف</h4>
                      <p>اجعل المصاب مستلقيًا على الأرض وقم بطمأنته، حاول أن تعرف مكان النزيف</p>
                      <p>تأكد من عدم وجود أجسام غريبة داخل الجرح، اضغط مباشرة على الجرح "يفضل استخدام الضمادة أو الشاش"، ارفع العضو إلى الأعلى فوق مستوى القلب، استخدم الضمادات والأربطة لوقف النزيف</p>
                      <p>لا تسمح للمصاب أن يمشى أو يقف على قدميه</p>
                      <p>و لا تترك المصاب وحده</p>
                      <p>لا تطلب من المصاب اتخاذ القرارات</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====VIDEOS SECTION==== -->
    <section class="videos">
        <div class="container">
            <div class="section-title" data-aos="zoom-in">
                <h3>فيديوهات توضيحية</h3>
                <p>يوضح كل فيديو من الاتى حالة معينة وكيفية التعامل معها</p>
            </div>
            <div class="row">
                <div class="item col-lg-6">
                    <div class="case-video">
                        <h4> كيفية التعامل مع شخص فاقد الوعي-</h4>
                        <iframe class="col-lg-12 col-md-6" width="560" height="315" src="https://www.youtube.com/embed/w7TLdyQgzbY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="item col-lg-6">
                    <div class="case-video">
                        <h4>كيفية التعامل مع غيبوبة السكر-</h4>
                        <iframe class="col-lg-12 col-md-6" width="560" height="315" src="https://www.youtube.com/embed/ESPX456nNyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            </div>
                </div>
            </div>
            <div class="row">
                <div class="item col-lg-6">
                    <div class="case-video">
                        <h4>كيفية التعامل مع حالة الاختناق بجسم غريب-</h4>
                        <iframe class="col-lg-12 col-md-6" width="560" height="315" src="https://www.youtube.com/embed/81BXd2Gi6kg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            </div>
                </div>
                <div class="item col-lg-6">
                    <div class="case-video">
                        <h4>كيفية التتعامل مع الحروق-</h4>
                        <iframe class="col-lg-12 col-md-6" width="560" height="315" src="https://www.youtube.com/embed/HaC2oiBB7sI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            </div>
                </div>
            </div>
        </div>
    </section>

     <!-- ====SEND LOCATION SECTION==== -->
     <section class="location">
        <div class="container">
          <div class="section-title" data-aos="zoom-in">
            <h3>ارسال موقعك الحالي</h3>
            <p>ارسال موقعك الحالي الى الاسعاف لتمكين الوصول اليك</p>
          </div>
          <div class="send">
            <p>اضغط هنا لارسال موقع الحالي للمساعدة فى الوصول اليك</p>
            <button class="btn btn-primary" id="locBtn">ارسال موقعك الحالي</button>
          </div>
          <form action="" method="post" class="none" id="form">
            <div class="form-group">
              <label for="exampleInputEmail1">دائرة العرض</label>
              <input type="text" class="form-control" id="loc-1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">خط الطول</label>
              <input type="text" class="form-control" id="loc-2">
            </div>
            <button type="submit" class="btn btn-primary">ارسال موقعك</button>
          </form>
        </div>
      </section>

      <!-- ====maps section==== -->
      <section class="map mt-5">
        <div>
          <div class="section-title" data-aos="zoom-in">
              <h3> الوصول لاقرب مستشفي</h3>
              <p> تساعدك هذه الخريطة في الوصول لاقرب مستشفي لك</p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883576.4666968068!2d32.30752944946291!3d30.109345397803693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145845ea455faf07%3A0x3c5c459a0fb9c936!2z2YXYs9iq2LTZgdmJINin2YTZh9ix2YU!5e0!3m2!1sar!2seg!4v1656175178559!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
          <a href="https://www.axa-egypt.com/medical-network" target="_blank"><button class="btn btn-primary">رؤية كل المستشفيات والوحدات الصحية </button></a>
        </div>
      </section>
</main>