<!-- ====REGIST FORM==== -->
<section class="sign">
    <div class="container">
        <form class="col-12" action="" method="post">
            <div class="form col-lg-6 col-md-12 my-auto mx-auto mt-5">
                <h4 class="text-light text-center"><span class="span1">إنشاء حساب</span> </h4>
                <input class="form-control mt-5" type="text" placeholder="ادخل اسمك الرباعي"><br>
                <input class="form-control" type="text" placeholder="يجب ان يتكون من 14 رقم"><br>
                <input class="form-control" type="email" placeholder="حسابك الشخصي"><br>
                <input class="form-control" type="text" placeholder="الرقم السري"><br>
                <label class="condi" for="agree"> أوافق على الشروط والأحكام</label>
                <input type="checkbox" id="agree" name="agree" value="condition"><br>
                <button class="btn mb-4"> إنشاء حساب</button>
                <p>امتلك حساب بالفعل <a routerLink="/login" class="text-primary">تسجيل الدخول </a></p>
            </div>
        </form>
    </div>
</section>